div {
    text-align: center;
  }
  

  body {
    background-color: rgb(2, 1, 99);
  }
  

  button {
    background-color: #3498db;
    color: #341eaf;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  

  ul.nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #020b55;
    padding: 10px 0;
  }
  
  ul.nav li {
    margin: 0 10px;
  }
  
  ul.nav li a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
  }
  
  ul.nav li a:hover {
    background-color: #555;
  }
  
  img {
    max-width: 100%;
    height: auto;
    width: 70%; 
    display: block;
    margin: 0 auto;
  }
  
  
